<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DESKTOP-M75UEQH\SQLEXPRESS_ClinienceSystemManagement_Connection"
            connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-M75UEQH\SQLEXPRESS;integrated security=SSPI;initial catalog=ClinienceSystemManagement" />
        <add name="ClinienceSystemManagement.Properties.Settings.ClinienceSystemManagementConnectionString"
            connectionString="Data Source=DESKTOP-M75UEQH\SQLEXPRESS;Initial Catalog=ClinienceSystemManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>